<input placeholder="Enter your name" [formControl]="control">
    <ng-container 
    *ngIf="
        control.touched && 
        control.dirty && 
        control.errors" 
    >
        <div *ngIf="control.errors.required">
            Value is required.
        </div>
        <div *ngIf="control.errors.minlength">
            Value you entered is
            {{ control.errors.minlength.actualLength }}
            characters long, but it must be at least 
            {{ control.errors.minlength.requiredLength }}
            characters.
        </div>
    </ng-container>